.template-leaderboard {
  background: #eee;
  opacity: 0.9;
  padding: 1em 2%;
}
.template-leaderboard h3 {
  color: black;
}
.template-leaderboard .item-outlet .item.highlight {
  background: #cee;
}
